Source: dde-calendar
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (=11),
 cmake,
 pkg-config,
 deepin-gettext-tools,
 qt6-base-dev | qtbase5-dev,
 qt6-tools-dev | qttools5-dev,
 qt6-tools-dev-tools | qttools5-dev-tools,
 qt6-svg-dev | libqt5svg5-dev,
 libdtk6gui-dev | libdtkgui-dev,
 libdtk6widget-dev | libdtkwidget-dev,
 libdtk6core-dev | libdtkcore-dev,
 libgtest-dev,
 libical-dev,
 libgcrypt20-dev
Standards-Version: 4.3.0
Homepage: http://www.deepin.org
Vcs-Git: https://github.com/linuxdeepin/dde-calendar
Rules-Requires-Root: no

Package: dde-calendar
Architecture: linux-any
Depends:
 dde-qt6integration,
 dde-api,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Calendar is a smart daily planner to schedule all things in life.
 Calendar is a small management tool for personal life that combines time 
 and events and integrates the function of memorizing and scheduling.
