[Unit]
Description=Calendar Schedule Timer

[Timer]
AccuracySec=1ms
RandomizedDelaySec=0
OnCalendar=@SCHEDULE@
Persistent=true

[Install]
WantedBy=timers.target
